<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sigmas.dogapp">

    <!-- Permiso de Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppExample"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/lg_dog"
        android:label="@string/app_name"
        android:roundIcon="@drawable/lg_dog"
        android:supportsRtl="true"
        android:theme="@style/Theme.DogApp"
        tools:targetApi="31">

        <!-- SplashActivity como pantalla inicial -->
        <activity
            android:name=".ui.Splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.DogApp"> <!-- usa tu tema directamente -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LoginActivity (ya no es LAUNCHER) -->
        <activity
            android:name=".ui.Login.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.DogApp" />

        <!-- Pantalla de inicio -->
        <activity android:name=".ui.Home.HomeActivity"
            android:exported="false" />

        <!-- Pantalla para crear nuevas citas -->
        <activity android:name=".ui.Newappointment.NewAppointmentActivity" />

        <!-- Pantalla de detalle cita -->
        <activity android:name=".ui.CitaDetail.CitaDetailActivity" />

        <!-- Pantalla para editar citas -->
        <activity android:name=".ui.CitaDetail.EditCitaActivity" />

    </application>

</manifest>