<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sigmas.dogapp">

    <!-- Permiso de Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/dog_head"
        android:label="@string/app_name"
        android:roundIcon="@drawable/lg_dog"
        android:supportsRtl="true"
        android:theme="@style/Theme.DogApp"
        tools:targetApi="31">

        <!-- Pantalla principal  -->
        <activity android:name=".view.Ui.Home.HomeActivity" />

        <!-- Pantalla para crear nuevas citas -->
        <activity android:name=".view.Ui.Newappointment.NewAppointmentActivity" />

        <!-- ✅ PANTALLA DE DETALLE DE CITAS -->
        <activity android:name=".view.Ui.CitaDetail.CitaDetailActivity" />

        <!-- Pantalla para editar citas -->
        <activity android:name=".view.Ui.CitaDetail.EditCitaActivity" />

        <!-- Login  -->
        <activity
            android:name=".view.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.DogApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>


</manifest>
